@import "./_variables.scss";

.fst-bc {
  background-color: $fst-color !important;
}

.snd-bc {
  background-color: $snd-color !important;
}

.trd-bc {
  background-color: $trd-color !important;
}

.fth-bc {
  background-color: $fth-color !important;
}

.fifth-bc {
  background-color: $fifth-color !important;
}

.black-bc {
  background-color: $black-color !important;
}

.white-bc {
  background-color: $white-color !important;
}
