@import "./_variables.scss";

.charcoal-bc {
  background-color: $charcoal-color !important;
}

.persian-green-bc {
  background-color: $persian-green-color !important;
}

.orange-yellow-crayola-bc {
  background-color: $orange-yellow-crayola-color !important;
}

.sandy-brown-bc {
  background-color: $sandy-brown-color !important;
}

.burnt-sienna-bc {
  background-color: $burnt-sienna-color !important;
}

.black-bc {
  background-color: $black-color !important;
}

.white-bc {
  background-color: $white-color !important;
}
