.button {
  width: auto;

  font-family: inherit;

  border: 1px solid rgb(209, 209, 209);
  border-radius: 0.5em;

  cursor: pointer;

  @extend .uppercase-text;
  @extend .bold-text;
  @extend .text-al-center;

  @extend .color-base-properties;
  @extend .size-base-properties;

  &:hover {
    filter: invert(.15); 
  }
}
