@import "./_variables.scss";

.fst-tc {
  color: $fst-color;
}

.snd-tc {
  color: $snd-color;
}

.trd-tc {
  color: $trd-color;
}

.fth-tc {
  color: $fth-color;
}

.fifth-tc {
  color: $fifth-color;
}

.black-tc {
  color: $black-color;
}

.white-tc {
  color: $white-color;
}
