@import "./_variables.scss";

.charcoal-tc {
  color: $charcoal-color !important;
}

.persian-green-tc {
  color: $persian-green-color !important;
}

.orange-yellow-crayola-tc {
  color: $orange-yellow-crayola-color !important;
}

.sandy-brown-tc {
  color: $sandy-brown-color !important;
}

.burnt-sienna-tc {
  color: $burnt-sienna-color !important;
}

.black-tc {
  color: $black-color !important;
}

.white-tc {
  color: $white-color !important;
}
