@import "./mixins/floating-label";
@import "./mixins/form-element-size";

.form-group {
  position: relative;
  margin-bottom: 2rem;

  // width: 100%;
  // max-height: 100%;

  input,
  textarea {
    width: 100%;
    // height: auto;
    // max-height: 100%;
    // width: 100%;
    position: absolute;
    box-sizing: border-box;
    box-shadow: none;
    outline: none;
    border: 1px solid rgb(209, 209, 209);
    border-radius: 0.5em;
  }

  label {
    position: absolute;
    color: rgb(209, 209, 209);
    transition: 1s;
  }

  @include floatingLabel($black-color, "");

  &.-sm {
    @include formElementSize(0.7rem, 0.4rem, -1.3rem);
  }

  &.-md {
    @include formElementSize(0.8rem, 0.5rem, -1.5rem);
  }

  &.-lg {
    @include formElementSize(0.9rem, 0.6rem, -1.7rem);
  }

  &.fst {
    @include floatingLabel($fst-color, "");
  }

  &.snd {
    @include floatingLabel($snd-color, "");
  }

  &.trd {
    @include floatingLabel($trd-color, "");
  }

  &.fth {
    @include floatingLabel($fth-color, "");
  }

  &.fifth {
    @include floatingLabel($fifth-color, "");
  }
}
