.form-group {
  margin-bottom: 1em;
  transition: all 0.3s;

  .form-label {
    font-size: 1em;
    color: #ccc;
    display: block;
    opacity: 1;
    transform: translate(0.5em, -1.5em);
    transform-origin: 0 0;
    transition: all 0.3s;
  }

  .form-control {
    box-shadow: none;
    border: 1px solid rgb(209, 209, 209);
    border-radius: 0.5em;
    width: 100%;
    padding: 0.5em;
    transition: all 0.5s;

    &::placeholder {
      color: transparent;
    }

    &:focus {
      box-shadow: none;
      outline: none;
      border-color: $black-color;

      + .form-label {
        transform: translateY(-3em) scale(0.8);
        color: $black-color;
      }
    }

    &:focus-within {
      transform: scale(1.05, 1.05);
    }

    &:not + .form-label {
      transform: translateY(-2.5em) scale(0.8);
    }
  }

  &.fst {
    .form-control:focus {
      border-color: $fst-color;

      + .form-label {
        color: $fst-color;
      }
    }
  }

  &.snd {
    .form-control:focus {
      border-color: $snd-color;

      + .form-label {
        color: $snd-color;
      }
    }
  }

  &.trd {
    .form-control:focus {
      border-color: $trd-color;

      + .form-label {
        color: $trd-color;
      }
    }
  }

  &.fth {
    .form-control:focus {
      border-color: $fth-color;

      + .form-label {
        color: $fth-color;
      }
    }
  }

  &.fifth {
    .form-control:focus {
      border-color: $fifth-color;

      + .form-label {
        color: $fifth-color;
      }
    }
  }
}
