$base-spacing: 4px;

$spacing-1: ($base-spacing * 1);
$spacing-2: ($base-spacing * 2);
$spacing-3: ($base-spacing * 3);

$negative-spacing-1: ($base-spacing * -1);
$negative-spacing-2: ($base-spacing * -2);
$negative-spacing-3: ($base-spacing * -3);