.bold-text {
  font-weight: bold !important;
}

.italic-text {
  font-style: italic !important;
}

.underline-text {
  text-decoration: underline !important;
}

.uppercase-text {
  text-transform: uppercase !important;
}

.capitalize-text {
  text-transform: capitalize !important;
}

.text-al-center {
  text-align: center !important;
}

.text-al-right {
  text-align: right !important;
}

.text-al-left {
  text-align: left !important;
}
