.bold-text {
  font-weight: bold;
}

.italic-text {
  font-style: italic;
}

.underline-text {
  text-decoration: underline;
}

.uppercase-text {
  text-transform: uppercase;
}

.capitalize-text {
  text-transform: capitalize;
}

.ellipsis-text {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.text-al-center {
  text-align: center;
}

.text-al-right {
  text-align: right;
}

.text-al-left {
  text-align: left;
}

.text-al-vertical {
  display: table-cell;
  vertical-align: middle;
}
