$fst-color: #264653;
$snd-color: #2A9D8F;
$trd-color: #E9C46A;
$fth-color: #F4A261;
$fifth-color: #E76F51;
$black-color: black;
$white-color: white;

$base-spacing: 4px;

$sm-size: 1px;
$md-size: 768px;
$lg-size: 1024px;