@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&display=swap");
.fst-tc {
  color: #264653;
}

.snd-tc {
  color: #2A9D8F;
}

.trd-tc {
  color: #E9C46A;
}

.fth-tc {
  color: #F4A261;
}

.fifth-tc {
  color: #E76F51;
}

.black-tc {
  color: black;
}

.white-tc, .button.fst, .button.snd, .button.trd, .button.fth, .button.fifth, .button.black {
  color: white;
}

.fst-bc, .button.fst {
  background-color: #264653 !important;
}

.snd-bc, .button.snd {
  background-color: #2A9D8F !important;
}

.trd-bc, .button.trd {
  background-color: #E9C46A !important;
}

.fth-bc, .button.fth {
  background-color: #F4A261 !important;
}

.fifth-bc, .button.fifth {
  background-color: #E76F51 !important;
}

.black-bc, .button.black {
  background-color: black !important;
}

.white-bc {
  background-color: white !important;
}

.bold-text, .button {
  font-weight: bold;
}

.italic-text {
  font-style: italic;
}

.underline-text {
  text-decoration: underline;
}

.uppercase-text, .button {
  text-transform: uppercase;
}

.capitalize-text {
  text-transform: capitalize;
}

.ellipsis-text {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.text-al-center, .button {
  text-align: center;
}

.text-al-right {
  text-align: right;
}

.text-al-left {
  text-align: left;
}

.text-al-vertical {
  display: table-cell;
  vertical-align: middle;
}

.tag {
  font-size: 0.65em;
  padding: 0.35em;
  border: 1px solid #d1d1d1;
  border-radius: 0.5em;
}

.row {
  margin: 12px -12px;
}

.row:after, .row:before {
  content: "";
  display: table;
  clear: both;
}

@media (min-width: 1px) {
  .row .-sm-1 {
    width: 8.33333%;
  }
  .row .-sm-2 {
    width: 16.66667%;
  }
  .row .-sm-3 {
    width: 25%;
  }
  .row .-sm-4 {
    width: 33.33333%;
  }
  .row .-sm-5 {
    width: 41.66667%;
  }
  .row .-sm-6 {
    width: 50%;
  }
  .row .-sm-7 {
    width: 58.33333%;
  }
  .row .-sm-8 {
    width: 66.66667%;
  }
  .row .-sm-9 {
    width: 75%;
  }
  .row .-sm-10 {
    width: 83.33333%;
  }
  .row .-sm-11 {
    width: 91.66667%;
  }
  .row .-sm-12 {
    width: 100%;
  }
}

@media (min-width: 768px) {
  .row .-md-1 {
    width: 8.33333%;
  }
  .row .-md-2 {
    width: 16.66667%;
  }
  .row .-md-3 {
    width: 25%;
  }
  .row .-md-4 {
    width: 33.33333%;
  }
  .row .-md-5 {
    width: 41.66667%;
  }
  .row .-md-6 {
    width: 50%;
  }
  .row .-md-7 {
    width: 58.33333%;
  }
  .row .-md-8 {
    width: 66.66667%;
  }
  .row .-md-9 {
    width: 75%;
  }
  .row .-md-10 {
    width: 83.33333%;
  }
  .row .-md-11 {
    width: 91.66667%;
  }
  .row .-md-12 {
    width: 100%;
  }
}

@media (min-width: 1024px) {
  .row .-lg-1 {
    width: 8.33333%;
  }
  .row .-lg-2 {
    width: 16.66667%;
  }
  .row .-lg-3 {
    width: 25%;
  }
  .row .-lg-4 {
    width: 33.33333%;
  }
  .row .-lg-5 {
    width: 41.66667%;
  }
  .row .-lg-6 {
    width: 50%;
  }
  .row .-lg-7 {
    width: 58.33333%;
  }
  .row .-lg-8 {
    width: 66.66667%;
  }
  .row .-lg-9 {
    width: 75%;
  }
  .row .-lg-10 {
    width: 83.33333%;
  }
  .row .-lg-11 {
    width: 91.66667%;
  }
  .row .-lg-12 {
    width: 100%;
  }
}

.row .col {
  display: block;
  float: left;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  min-height: 1px;
  padding: 0 12px;
  margin: 6px 0;
}

.row.-no-gutter {
  margin-right: 0;
  margin-left: 0;
}

.row.-no-gutter > .col {
  padding: 0;
}

.row.-no-margin {
  margin: 0 -12px;
}

@media (min-width: 1px) and (max-width: 767px) {
  .row .col {
    padding: 0 8px;
  }
  .row {
    margin: 0 -8px;
  }
  .row.-no-gutter-sm {
    margin-right: 0;
    margin-left: 0;
  }
  .row.-no-gutter-sm > .col {
    padding: 0;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .row.-no-gutter-md {
    margin-right: 0;
    margin-left: 0;
  }
  .row.-no-gutter-md > .col {
    padding: 0;
  }
}

@media (min-width: 1024px) and (max-width: 1279px) {
  .row.-no-gutter-lg {
    margin-right: 0;
    margin-left: 0;
  }
  .row.-no-gutter-lg > .col {
    padding: 0;
  }
}

@media (min-width: 1024px) {
  .row.-no-gutter-lg {
    margin-right: 0;
    margin-left: 0;
  }
  .row.-no-gutter-lg > .col {
    padding: 0;
  }
}

.button {
  width: auto;
  font-family: inherit;
  border: 1px solid #d1d1d1;
  border-radius: 0.5em;
  cursor: pointer;
}

.button.-sm {
  font-size: 0.7rem;
  padding: 0.7rem;
}

.button.-md {
  font-size: 0.8rem;
  padding: 1rem;
}

.button.-lg {
  padding: 1.2rem;
}

.button:hover {
  -webkit-filter: invert(0.15);
          filter: invert(0.15);
}

html,
body {
  margin: 0;
  padding: 0;
  background-color: white;
  font-family: "Comfortaa", cursive;
  scroll-behavior: smooth;
}

@media (max-width: 768px) {
  .app-container {
    margin: 1rem 1.5rem !important;
  }
}

.app-container {
  margin: 2rem 7rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.app-container h1,
.app-container h2,
.app-container h3 {
  width: 100%;
}

.app-container section {
  width: 100%;
  padding: 1em;
}

.color-display-container div {
  margin: 1rem 0;
  padding: 0.5rem;
  border: 1px solid #d1d1d1;
  border-radius: 0.5em;
}

.text-container div {
  margin: 1rem 0;
  padding: 0.5rem;
  border: 1px solid #d1d1d1;
  border-radius: 0.5em;
}

.box {
  padding: .5rem;
  border: 1px solid #264653;
  background-color: #E76F51;
}
/*# sourceMappingURL=main.css.map */