@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&display=swap");

@import "./variables";
@import "./colors";
@import "./bc-colors";
@import "./text";
@import "./tag";
@import "./grid";

html,
body {
  margin: 0;
  padding: 0;
  background-color: white;
  font-family: "Comfortaa", cursive;
  scroll-behavior: smooth;
}

@media (max-width: $md-size) {
  .app-container {
    margin: 1rem 1.5rem !important;
  }
}

.app-container {
  margin: 2rem 7rem;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;

  h1,
  h2,
  h3 {
    width: 100%;
  }

  section {
    width: 100%;
    padding: 1em;
  }
}

.color-display-container {
  div {
    margin: 1rem 0;
    padding: 0.5rem;

    border: 1px solid rgb(209, 209, 209);
    border-radius: 0.5em;
  }
}

.text-container {
  div {
    margin: 1rem 0;
    padding: 0.5rem;

    border: 1px solid rgb(209, 209, 209);
    border-radius: 0.5em;
  }
}

.box {
  padding: .5rem;
  border: 1px solid $fst-color;
  background-color: $fifth-color;
}
