@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&display=swap");
.charcoal-tc {
  color: #264653 !important;
}

.persian-green-tc {
  color: #2A9D8F !important;
}

.orange-yellow-crayola-tc {
  color: #E9C46A !important;
}

.sandy-brown-tc {
  color: #F4A261 !important;
}

.burnt-sienna-tc {
  color: #E76F51 !important;
}

.black-tc {
  color: black !important;
}

.white-tc {
  color: white !important;
}

.charcoal-bc {
  background-color: #264653 !important;
}

.persian-green-bc {
  background-color: #2A9D8F !important;
}

.orange-yellow-crayola-bc {
  background-color: #E9C46A !important;
}

.sandy-brown-bc {
  background-color: #F4A261 !important;
}

.burnt-sienna-bc {
  background-color: #E76F51 !important;
}

.black-bc {
  background-color: black !important;
}

.white-bc {
  background-color: white !important;
}

.bold-text {
  font-weight: bold !important;
}

.italic-text {
  font-style: italic !important;
}

.underline-text {
  text-decoration: underline !important;
}

.uppercase-text {
  text-transform: uppercase !important;
}

.capitalize-text {
  text-transform: capitalize !important;
}

.ellipsis-text {
  white-space: nowrap !important;
  text-overflow: ellipsis !important;
  overflow: hidden !important;
  white-space: nowrap !important;
}

.text-al-center {
  text-align: center !important;
}

.text-al-right {
  text-align: right !important;
}

.text-al-left {
  text-align: left !important;
}

.tag {
  font-size: 0.65em;
  padding: 0.35em;
  border: 1px solid #d1d1d1;
  border-radius: 0.5em;
}

.grid {
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[12];
      grid-template-columns: repeat(12, 1fr);
}

html,
body {
  margin: 0;
  padding: 0;
  background-color: white;
  font-family: "Comfortaa", cursive;
  scroll-behavior: smooth;
}

.app-container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.app-container h1,
.app-container h2, .app-container h3 {
  width: 100%;
}

.app-container section {
  width: 100%;
  padding: 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.color-display-container {
  width: 300px;
  margin: 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.color-display-container div {
  width: 270px;
  height: 50px;
  margin: 1em;
  padding: 0.7em;
  border: 1px solid #d1d1d1;
  border-radius: 0.5em;
  font-weight: bold;
  text-align: center;
}

.text-container {
  width: 270px;
  margin: 1em;
  padding: 1.5em;
  border: 1px solid #d1d1d1;
  border-radius: 0.5em;
}
/*# sourceMappingURL=main.css.map */