@mixin floatingLabel($color, $top) {
  input:focus,
  input:valid,
  textarea:focus,
  textarea:valid {
    border-color: $color;
  }

  input:focus ~ label,
  input:valid ~ label,
  textarea:focus ~ label,
  textarea:valid ~ label {
    color: $color;
    font-weight: bold;

    @if $top != "" {
      top: $top;
    } @else {
      top: inherit;
    }
  }
}
