@mixin formElementSize($fontSize, $padding, $top) {
  .form-group-item {
    label,
    input,
    textarea {
      font-size: $fontSize;
      padding: $padding;
    }

    input:focus ~ label,
    textarea:focus ~ label,
    input:valid ~ label,
    textarea:valid ~ label {
      top: $top !important;
    }
  }
}
